@font-face {
  font-family: 'Avenir';
  src: url('Avenir Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('AirbnbCereal_W_Bk.otf') format('opentype');
}
  body {
    margin: 0;
    padding: 0;
  }
  .herosection{
    margin:0 auto;
    padding: auto;
    width: 100%;
    max-width: 1400px;
  }
  .headsec{
    margin:0 auto;
    padding: auto;
    width: 100%;
    max-width: 1400px;
  }
  .tsec{
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1400px;
    position: relative;
  }
  .tfoot{
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1400px;
  }
  .header{
    align-items: center;
    margin-top: 2.1vh;
    /* margin-left: 16vh; */
    margin-bottom: 2.1vh;
    color: rgba(62, 129, 128, 1);
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width:600px){
    .header{
      margin-left: 8vh;
    }
  }
   .leftside{
    display: flex;
  }
  @media screen and (min-width:1199px) {
    .leftside{
       padding-left: 14vh;
    }
  }
  .fresh{
    margin-top: .3vh;
    margin-left: 0.5vh;
    font-family: Avenir;
    font-weight: 400;
    font-size: 20px;
  }
  .build{
    font-family: Avenir;
    font-weight: 800;
    font-size: 20px;
  }
  .right{
    font-family: Airbnb Cereal App;
    font-weight: 700;
    font-size: 16px;
    color: rgba(50, 44, 78, 1);
  }
  @media screen and  (min-width:1200px){
   .right{
    padding-right: 90px;
   }
  }
  .sechome{
    position: relative;
   background-image: radial-gradient(rgba(227, 227, 227, 1),
   rgba(215, 253, 244, 1));
   box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
   padding-bottom: 8vh;
  } 
  @media screen and (max-width:600px) {
    .sechome{
      padding-bottom: 6.5vh;
    }
  }
  .lefth{
     top:3rem;
    position: absolute;
  
  }
  @media screen and (max-width:600px){
    .lefth{
      display: none;
    }
  }
  .righth{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 43.5vh;
  }
  @media screen and (max-width:600px) {
    .righth{
      margin-left: 0vh;
    }
  }
  @media screen and (min-width:1200px) {
    .righth{
      margin-left: 0vh;
      z-index: 1;
    }
  }
  .discover{
    line-height: 50.4px;
    padding-top: 11vh;
    font-family: Monsterrat;
    font-weight: 1000;
    font-size: 42px;
    color:
    rgba(62, 129, 128, 1);
    font-family: 
    Airbnb Cereal App;
    padding-right: 44vh;
    padding-left: 44vh;
  }
  @media screen and (min-width:1200px){
    .discover{
      padding-top: 8vh;
      display: flex;
      justify-content: center;
    }

  }
  @media screen and (max-width:600px){
    .discover{
      line-height: normal;
      justify-content:center;
      padding: 0px 0px 0px 0px;
      padding-right: 0vh;
       font-weight: 900;
       font-size: 17.5px;
       margin-top: 12px;
    }
  }
  .from{
    margin-top: 2vh;
    /* margin-left: 25rem; */
    width: auto;
    text-align: center;
    font-family: Airbnb Cereal App;
    font-weight: 500;
    font-size: 20px;
     color: rgba(50, 44, 78, 1);
     z-index: 2;
  }
  @media screen and (max-width:600px) {
    .from{
     padding: 0px;
     margin: 0px;
      font-weight: 400;
      font-size: 13px;
      width: 100%;

    }
  }
  @media screen and (min-width:1200px) {
    .from{
      margin-left: 21.4rem;
      width: 50%;
    }
  }
  .searchf{
    padding-top: 2.1vh;
    padding-bottom: 2.1vh;
    cursor:pointer;
    margin-top: 4vh;
    margin-left: vh;
    font-family: Airbnb Cereal App;
    font-weight: 600;
    font-size: 15px;
    color:
    rgba(255, 255, 255, 1);
    width: 200px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid rgba(232, 127, 63, 1);   
    background-color: 
    rgba(232, 127, 63, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
    }
  @media screen and (min-width:1200px) {
    .search{
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (max-width:600px) {
    .searchf{
       margin: 0vh;
      width:150px ;
      height: 47px;
      font-size: 13px;
      font-weight: 600;
      justify-content:center;
      justify-items: center;
    }
  }
  .thome{
    font-family: Avenir;
    font-weight: 800;
    font-size: 26px;
    border: 1px rgb(241, 241, 241) solid;
    background-color:  rgb(241, 241, 241);
  }
  .john{
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
  display: flex;
   padding-left: 14px;
   padding-top: 7.5px;
   padding-bottom: 7.5px;
   padding-right: 5vh;  
    font-family: Airbnb Cereal App;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.83px;
    margin-top:  2.5vh;
    left:990px;
    right: 50px;
    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  @media screen and (max-width:600px){
    .john{
    left: 73vh;
    right: 0vh;
    font-weight: 300;
    font-size: 11px;
    line-height: normal;
    padding-right: 2vh;
    }
  }
  @media screen and (min-width:1200px) {
    .john{
      left: 854px;
    }
  }
  .daunthome{
    margin-top: 3px;
  }
  @media screen and (max-width:600px) {
    .daunthome img{
      width: 4vh;
      height: auto;
    }
  }
  .jhons{
    margin-left: 12px;
  }
  @media screen and (max-width:600px){
    .jhons{
      margin-top: 1px;
      margin-left: 8px;
    }
  }
  .buy{
    line-height: 39px;
    text-align:center;
    padding-top: 9vh;
  }
  @media screen and (max-width:600px) {
    .buy{
      line-height: normal;
      font-weight: 600;
      font-size: 19px;
    }
  }
  .bbuilds{
    font-family: Airbnb Cereal App;
    color: rgba(62, 129, 128, 1);
    font-weight: 500;
    font-size: 26px;
  }
  @media screen and (max-width:600px) {
    .bbuilds{
      font-size: 13px;
    }
  }
  .tgrid{
    position: relative;
    padding-left: 2vh;
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 19px;
    height: auto;
    width:auto;
  }
  .tleft{
    
    font-family: Airbnb Cereal App;
  }
  .tleft .all{
    border: 2px 
    rgba(92, 202, 171, 1) solid;
    margin-left: 10vh;
    box-shadow: 0px 4px 44px 0px  rgba(14, 21, 50, 0.1);
  }
  .dollar{
     margin-bottom: 4.5vh;
  }
  .dbold{
    font-weight: 800;
    font-size: 22px;
    color: rgba(62, 129, 128, 1);
    margin-bottom: 0.5vh;
  }
  .dtext{
  font-weight: 400;
  font-size: 15.5px;
  color: rgb(29, 35, 63);
  }
  .tmid .all{
    margin-left: 1vh;
  }
  .tmid{
    font-family: Airbnb Cereal App;
    margin-bottom: 0px;
  }
  .tright{
    position: relative;
  }
  .timage{
    position: absolute;
    bottom: 4vh;
    right: 15vh;
    height: 50vh;
  }
  @media screen and (min-width:1200px) {
    .tright{
      padding-right: 0vh;
    }
  }
  .timage img{
  }
  .all{
    margin-top: 2.6vh;
    border-radius: 10px;
    padding-left: 3.7vh;
    width: 365px;
    padding-right:4vh;
    padding-bottom: 3vh;
    padding-top: 7vh;
    background-color: 
    rgba(255, 255, 255, 1);
  }
  .tmid .all{
    max-width: 370px;
  }
  .timage{
    margin-left: 6.6vh;
  }
  .tmid .all{
    padding-top: 8vh;
  }
  .fgrid{
    display: grid;
    margin-top: 2vh;
     grid-template-columns: 1fr 1.1fr;
     font-family: Airbnb Cereal App;
  }
  .fleft .all{
    padding-top: 7vh;
    margin-left: 38vh;
    padding-bottom: 27px;
  }
  .fright  .dollar{
    margin-top: 2px;
    margin-bottom: 37px;
  }
  .fright .all{
    padding-top: 7vh;
    width: 400px;
    padding-right: 11vh;
    padding-bottom: 27px;
  }
  .fflex{
    display: flex;
  }
  .fxr{

  }
  .find{
    font-family: Airbnb Cereal App;
    font-weight: 500;
    font-size: 26px;
    margin-top: 12vh;
    padding-top: 12vh;
    padding-left: 35vh;
    /* padding-right: 3vh; */
    color: 
    rgba(14, 21, 50, 1);
  }
  .large{
    font-family: Airbnb Cereal App;
   color: rgba(14, 21, 50, 1);
    font-weight:400;
    font-size :16px; 
    padding-top: 1vh;
    padding-left: 35vh;
  }
  .fxl{
    flex-basis: 50%;
    justify-content: left;
  }
  .searchfxl{
    padding-top: 2.1vh;
    padding-bottom: 2.1vh;
    cursor:pointer;
    margin-top: 6vh;
    font-weight: 0;
    font-size: 0;
    margin-left: 34vh;
    font-family: Airbnb Cereal App;
    font-weight: 600;
    font-size: 15px;
    color: 
    rgba(255, 255, 255, 1);
    width: 192px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid rgba(232, 127, 63, 1);   
    background-color: 
    rgba(232, 127, 63, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .circle{
    position: relative;
    left: 7vh;
  }
  .round-element{
      margin-top: 16vh;
    width: 430px;
    height: 430px; 
    background-color: 
    rgba(92, 202, 171, 1);
    border-radius: 50%;
  }
  .building{
    /* padding-left: 12vh;
    padding-right: 12vh; */
    top: 15vh;
    left: 8vh;
    max-width: 80vh;
    position: absolute;
  }
  .sandyimg{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url("sandy-millar-u1KG_wZTnkg-unsplash\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
  
  }
  .listed{
    text-align: center;
    font-family: Airbnb Cereal App;
    color:  rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 12px;
    background-color: rgb(232, 127, 63);
    margin-top: 2vh;
    margin-left: 2vh;
    position: absolute;
    padding-top: 1vh;
    padding-left: 1.5vh;
    padding-bottom: 1vh;
    padding-right: 1.5vh;
    z-index: 2;
    border-radius: 5px;
  }
  .building img{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    max-width: 320px;
    height: auto;
    box-shadow: 0 3px 30px 0 rgba(45, 39, 71, 0.1);
  }
  .rating{
    display: flex;
    
  }
  .startimg{
  display: flex;
  padding-bottom: 3px;
  }
  .rleft{
    justify-content: center;
    text-align: left;
    font-family: Airbnb Cereal App;
    margin-right: 35px;
    padding-right: 3vh;
    flex-basis: 88%;
    margin-left: 33vh;
    padding-top: 15px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: 
    rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 30px 0px rgba(45, 39, 71, 0.1) ;
     padding-bottom: 0.5vh;
  }
  .rtext{
    font-family: Airbnb Cereal App;
    font-weight: 100;
    font-size: 14px;
    color:
    rgb(101, 97, 122) ;
  }
  .rfooter{
    height: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: 
    rgba(62, 129, 128, 1);
    font-weight: 700;
    font-size: 16px;
  }
  .owner{
    font-weight: 600;
    margin-top: 1px;
    font-size: 12px;
    line-height: 15.62px;
    color: rgba(50, 44, 78, 1);
    margin-bottom: 2.52vh;
  }
  .rright{
    font-family: Airbnb Cereal App;
    flex-basis: 88%;
    margin-right: 23vh;
    border-radius: 10px;
    background-color: 
    rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-left: 27px;
    padding-right: 3vh;
    box-shadow: 0 3px 30px rgba(45, 39, 71, 0.1);
  }
  .detals{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: Airbnb Cereal App;
    padding-top: 10px;
    background-color: #ffffff;
   color: rgba(104, 104, 104, 1);
   box-shadow: 0 3px 30px 0 rgba(45, 39, 71, 0.1);
  }
  .fdetails{
     margin-top: 3px;
      display: flex;
  }
  .w1294{
    margin-left: 3vh;
     font-weight: 700;
     font-size: 16px;
     color:rgba(50, 44, 78, 1);
  }
  .bd,.bth,.sqfeet{
    font-weight: 400;
    font-size: 14px;
    margin-right: 1.8vh;
    color :rgba(104, 104, 104, 1);
  }
  .bd,.amount{
    margin-left: 3vh;
  }
  .amount{
    margin-top: 3px;
    font-weight: 700;
    font-size: 18px;
    color:rgba(50, 44, 78, 1);
  }
  .catg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3vh;
    margin-top: 17px;
  }
  .completer, .neighbour, .school, .date{
    font-weight: 400;
    font-size: 14px;
    color: rgba(155, 155, 155, 1);
  }
  .date{
    font-weight: 700;
    font-size: 14px;
    color: 
    rgba(50, 44, 78, 1);
  }
  .neighbour{
    margin-top: 1.8vh;
  }
  .school{
    margin-top: 2vh;
    margin-bottom: 23px;
  }
  .col2 img{
    width: 27px;
    height: 27px;
  }
  .aneg,.bplus,.date{
    align-items: right;
    text-align: right;
  }
  .aneg,.bplus,.date{
    margin-right: 3vh;                         
  }
  .simage{
    margin-top: 30px;
     margin-left: 16vh;
  }
  .whatever{
    margin-top: 11vh;
    text-align: center;
  }
  .gridcondos{
    margin-top: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 13vh;
    padding-right: 9vh;
    gap: 29px;
    align-items: center;
  }
  .condos{
    padding-top: 4vh;
    background-color:
    rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 3px 30px rgba(45, 39, 71, 0.1);
  }
  .group{
    padding-bottom: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cdtext{
    margin-top: 1.5vh;
    margin-left: 1.2vh;
    font-family: Airbnb Cereal App;
    font-weight: 600;
    font-size: 16px;
    color: rgba(50, 44, 78, 1);
  }
  .condos1{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 4vh;
    
    background-color:
    rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-top: 3vh;
    box-shadow: 0 3px 30px rgba(45, 39, 71, 0.1);
  }
  .col4dos .condos{
    margin-left: 4vh;
  }
  .col4dos .condos1{
    margin-left: 4vh;
  }
  .col1dos .condos{
  margin-left: 3vh;  
  }
  .col1dos .condos1{
    margin-left: 3vh;  
  }
  .searchfcon{
    padding-top: 2.5vh;
    padding-bottom: 6.2vh;
    cursor:pointer;
    margin-top: 5vh;
    margin-left: 22px;
    font-family: Airbnb Cereal App;
    font-weight: 600;
    font-size: 15px;
    color: 
    rgba(255, 255, 255, 1);
    width: 192px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid rgba(232, 127, 63, 1);   
    background-color: 
    rgba(232, 127, 63, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
  }
  .fourth{
    margin-top: 2vh;
    margin-left: 30vh;
    margin-bottom: 10vh;
    display: flex;
    position: relative;
  }
  .fourthl{
    margin-top: 11vh;
     margin-right: 89vh;
  }
  .have{
    font-family: Airbnb Cereal App;
    font-weight: 800;
    font-size: 26px;
    color: rgba(50, 44, 78, 1);
  }
  .what1{
    margin-top: 1vh;
    font-weight: 600;
    font-size: 16px;
    color: rgb(50, 44, 78);
  }
  .what{
    display: inline;
    font-weight: 600;
    font-size: 16px;
    color: rgb(50, 44, 78);
  }
  .wflex1st{
    padding-top: 0.5vh;
    padding-bottom: 2vh;
    color: 
    rgb(50, 44, 78);
    font-weight: 700;
    font-size: 18px;
    display: flex;
    border-bottom: 0.5px 
    rgba(214, 214, 214, 0.8) solid;  
  }
  .wflex{
    padding-top: 2vh;
    padding-bottom: 1.3vh;
    color: 
    rgb(50, 44, 78);
    font-weight: 700;
    font-size: 18px;
    display: flex;
    border-bottom: 0.5px 
    rgba(214, 214, 214, 0.8) solid;
  }
  .dropdown{
    margin-top: 1vh;
    margin-left: 5vh;
  }
  .wflex1{
    display: flex;
  }
  .imagef img{
    width: 65vh;
    height: auto;
    position: absolute;
    left: 105vh;
    bottom: 10vh;
  }
  .foot{
    background-color:rgba(50, 44, 78, 1);
    height: auto;
    padding-bottom: 1vh;
  }
  .centerall{
     padding-top: 6vh;
    text-align: center;
    padding-bottom: 4vh;
  }
  .buildplusimage{
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 2.2vh;
  }
  .frbuilds{
    font-family: Avenir;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-top: 1.5vh;
    margin-left: 2.7px;
  }
  .contactcom, .num{
    font-weight: 400;
    font-size: 16px;
    color: 
    rgba(255, 255, 255, 1);
    font-family: Airbnb Cereal App;
  }
  .num{
    margin-top: 1vh;
  }
  .lastflex{
    margin-left: 90px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    font-family: Airbnb Cereal App;
    display: flex;
    margin-top: 3vh;
  }
  .terms, .reserved{
    margin-left: 18px;
  }
  .lasimg{
    margin-left: 95vh;
  }